*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dadbd3 , #dadbd3 100%);
    overflow: hidden;
}

main{
    width: 80%;
    background-color: white;
    height: 90vh;
    display: flex;
    margin: 5vh auto ;
   
}

nav{
    width: 40%;
    height: 100%;
    
}

.contents{
    width: 60%;
    height: 100%;
    background-image: url("../img/mine.jpg");
}

.head-contents,
.head-nav {

    height: 80px;
    width: 100%;
    background-color: #eaeaea;
    border-right: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ioUser,
.activeUser{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ioUser span,
.activeUser span{
    padding-left: 5px
}

.settingChat ,
.settingUser {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-right: 1rem;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.noticed{
    
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 82px;
    
}

.noticed i {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #8edafc;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.searchBar{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.searchBar

[type="search"] {
    width: 80%;
    padding: 1rem;
    border: white solid 1px;
}

.firstUser,
.secondUser{
display: flex;
background-color: white;
padding: 0.3rem;
border: 1px solid gray;

}

.firstUser img,
.secondUser img {

    width: 60px;
    height: 60px;

}

.firstUser-text,
.secondUser-text{
    padding-left: 1rem;
    
}

.Hours{
    
}

.footer-contents{
    background-color: #eaeaea;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

input[type="text"]{
    width: 70%;
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid white;
}

.messages {
    height: calc(100% - 130px);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.sent,
.received{
    padding: 0.8rem;
    max-width: 40%;
    border-radius: 20px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem ;
    display: flex;
    text-align: center;
    justify-content: center;
}

.sent{
    align-self: flex-end;
    background-color: #d5f9ba;
}


.received{
    align-self: flex-start;
    background-color: white;
}



.date{
    font-size: 10px;
    text-align: end;
    padding-left: 2rem;
    padding-top: 1rem;
}

.Contacts{
height: calc(90vh - 212px);
overflow: auto;
}

.last{
    color: gray;
    font-size: 0.9rem;
    width: 100%;
    padding-top: 0.5rem;
}